#detailsDivSectTop {
    display: flex;
    justify-content: center;
}

#detailsh2Title {
    margin: 15px;
    color: green;
}

#detailsDivSectMiddle {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.detailsUlLiDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detailsUlLih3 {
    margin: 10px 5px;
}

.detailsUlLiDivBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#btnAdopt {
    margin: 10px;
}